/*.container {*/
/*    max-width: 500px;*/
/*    margin: 50px auto;*/
/*    text-align: left;*/
/*    font-family: sans-serif;*/
/*}*/

/*
  barre de recherche de datatable
*/
div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
}

@media screen and (max-width: 767px) {

    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: center;
    }
}

/**
  settings formulaire
**/
/*form {*/
/*    border: 1px solid #1A33FF;*/
/*    background: #ecf5fc;*/
/*    padding: 40px 50px 45px;*/
/*}*/

/*.form-control:focus {*/
/*    border-color: #000;*/
/*    box-shadow: none;*/
/*}*/

label {
    font-weight: 600;
}

.error {
    color: red;
    font-weight: 400;
    display: block;
    padding: 6px 0;
    font-size: 14px;
}

.form-control.error {
    border-color: red;
    padding: .375rem .75rem;
}

/*button disabled*/
/*.disabled {*/
/*    cursor: not-allowed;*/
/*    background-color: rgb(229, 229,229);*/
/*    pointer-events: none;*/
/*}*/

/*dropdown disponible */
.dropdown.action-label {
    display: inline-block;
}

.action-label>a {
    display: inline-block;
    min-width: 103px;
}

.action-label .btn-sm {
    padding: 4px;
}

.table .dropdown-menu {
    font-size: 13px;
    min-width: 120px;
    padding: 0;
}

.table .dropdown-menu .dropdown-item {
    padding: 5px 10px;
}

.dropdown-action .dropdown-toggle::after {
    display: none;
}

/* Invoice  */
.invoice-details,
.invoice-payment-details>li span {
    float: right;
    text-align: right;
    /* font-family: CircularStd; */
}

.card {
    border: 1px solid #ededed;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    background-color: #fff;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.inv-logo {
    height: auto;
    margin-bottom: 20px;
    max-height: 100px;
    width: auto;
}

/*-----------------
	12. Dashboard
-----------------------*/

.card-table .card-header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.card-table .card-body {
    padding: 0;
}

.card-table .card-footer {
    background-color: #fff;
    text-align: center;
}

.card-table .card-footer a {
    color: #333;
}

.card-title>a.btn {
    color: #fff;
}
.card-footer{
    padding: .75rem 1.25rem;
}

/******************** 
    helpers class 
*********************/
.m-b-20 {
    margin-bottom: 20px !important;
}

.btn-white {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
}

/********************
	7. Modal
-********************/

.modal {
    -webkit-overflow-scrolling: touch;
}

.modal-footer.text-center {
    justify-content: center;
}

.modal-footer.text-left {
    justify-content: flex-start;
}

.modal-dialog.modal-md {
    max-width: 600px;
}

.custom-modal .modal-content {
    border: 0;
    border-radius: 10px;
}

.custom-modal .modal-footer {
    border: 0;
}

.custom-modal .modal-header {
    border: 0;
    justify-content: center;
    padding: 30px 30px 0;
}

.custom-modal .modal-footer {
    border: 0;
    justify-content: center;
    padding: 0 30px 30px;
}

.custom-modal .modal-body {
    padding: 30px;
}

.custom-modal .close {
    background-color: #a0a0a0;
    border-radius: 50%;
    color: #fff;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    margin: 0;
    opacity: 1;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    z-index: 99;
}

.custom-modal .modal-title {
    font-size: 22px;
}

.modal-backdrop.show {
    opacity: 0.4;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
}

.modal .card {
    box-shadow: unset;
}

/***********************
	17. Delete Modal
************************/

.form-header {
    text-align: center;
    margin-bottom: 30px;
}

.form-header h3 {
    color: #333;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}

.form-header p {
    color: #929292;
    font-size: 15px;
    margin-bottom: 0;
}

.modal-btn>.row {
    margin-left: -8px;
    margin-right: -8px;
}

.modal-btn>.row>div {
    padding-left: 8px;
    padding-right: 8px;
}

.continue-btn {
    background-color: #fff;
    border: 1px solid #f43b48;
    border-radius: 50px;
    color: #f43b48;
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
}

.continue-btn:hover,
.continue-btn:focus,
.continue-btn:active {
    background-color: #f43b48;
    border: 1px solid #f43b48;
    color: #fff;
}

.cancel-btn {
    background-color: #fff;
    border: 1px solid #f43b48;
    border-radius: 50px;
    color: #f43b48;
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
}

.cancel-btn:hover,
.cancel-btn:focus,
.cancel-btn:active {
    background-color: #f43b48;
    border: 1px solid #f43b48;
    color: #fff;
}